{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
      </p>
    {% endunless %}
  </header>
{% endunless %}
<div class="entry-content">
    {{ content }}
    {%if index %}{% assign signal_leaf_id = post.signal_leaf_id %}{% else %}{% assign signal_leaf_id = page.signal_leaf_id %}{% endif %}
    {%if index %}{% assign libsyn_id = post.libsyn_id %}{% else %}{% assign libsyn_id = page.libsyn_id %}{% endif %}
    <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/{{ libsyn_id }}/height/21/width/358/theme/standard-mini/direction/no/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/" height="21" width="358" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p>
    <a href="{{ post.download_url }}">Download</a>
    </p>
</div>
